<div class="primary-decorator mt-4"></div>

<div class="mt-3">
  <div class="title-flower-2">
    <div class="title-flower-text">
      Mesa de regalos
    </div>
  </div>

  <div>
    <img src="https://imagenes.milenio.com/GnnXeFyf09uPiWu081v72Dot-GE=/958x596/https://www.milenio.com/uploads/media/2016/09/14/liverpool.jpeg">

    <div class="text-center wow animate__animated animate__slow animate__backInUp">
      <em>Número de Evento: 50815871</em>
    </div>
  </div>
</div>

<div class="primary-decorator-invert mt-4"></div>
