<div class="faq-container mt-5 pt-4">
  <div class="title-cursive">
    ¡Te esperamos, no faltes!
  </div>

  <div class="rings"></div>

  <div class="faq-section">
    <div>
      <strong>Desarrollado por:</strong> (El Novio) Fernando Isaías García Aguirre
    </div>

    <div>
      <strong>Diseñado y Gestionado por:</strong> (La Novia) Ofelia Alejandra Lozano Silva
    </div>

    <div class="mt-3 text-center">
      Con amor todo se puede construir <em class="mdi mdi-heart heart-color"></em>
    </div>
  </div>
</div>
