.primary-decorator {
  width: 100%;
  height: 80px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fprincipal-decorator.png?alt=media&token=4459815e-d2ad-42bd-9ef4-76f9127ee27a);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #D0B072;
}

.title-cursive {
  font-family: GreatVibes-Regular;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #D0B072;
  letter-spacing: 2px;
}

.title-flower {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fflower-icon.png?alt=media&token=541bddd6-4544-422d-bcae-c4c43c2694e8);
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
}

.title-flower-2 {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fflower-icon-2.png?alt=media&token=dc1ec1dc-3e2d-43c5-a2c1-a55b6a8c0b59);
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
}

.title-flower-text {
  padding-top: 55px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #D0B072;
}

.sub-title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #D0B072;
}

.title-before-margin {
  margin-top: 68px;
}

.cursive {
  font-family: GreatVibes-Regular !important;
  font-size: 18px;
  font-weight: bold;
}
