<div class="mt-3 wow animate__animated animate__slow animate__backInUp">
  <div class="title-flower">
    <div class="title-flower-text">
      Nuestra Historia
    </div>
  </div>

  <div class="history">
    Una hermosa coincidencia provocó que nos conociéramos
    y que en poco tiempo nos enamoráramos, desde ese día
    que nos conocimos supimos que nuestras alas necesitaban
    estar juntas para volar alto y desde entonces caminamos
    junto con Dios.
  </div>

  <div>
    <h3 class="accent-text text-center mt-5">
      Para ti mi amado prometido
    </h3>

    <div class="text-center history">
      Fernando… Quiero estar cuando la vida se complique, cuando
      todo salga mal, cuando los sueños que persigues se te
      quieran escapar y ser la luz que alumbra tu camino cuando
      ya no puedas ver.
      <br>
      <br>
      Con todo mi amor.
      <br>
      <br>

      <div class="sign accent-text">
        Alejandra Lozano Silva
      </div>
    </div>
  </div>

  <div class="big-and-section wow animate__animated animate__jackInTheBox">
    <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fhands.png?alt=media&token=d8f8f4db-cfe1-46d3-a0d0-f935656f5060">
  </div>

  <div>
    <h3 class="accent-text text-center mt-5">
      Para ti mi amada prometida
    </h3>

    <div class="text-center history">
      Alejandra… Mi vida entera es para ti, no puedo más que sonreír
      si caminas cerca y cada mañana descubrir que aún brilla
      el sol porque me amas.
      <br>
      <br>
      Con todo mi amor.
      <br>
      <br>

      <div class="sign accent-text">
        Fernando García Aguirre
      </div>
    </div>
  </div>
</div>
