img {
  width: 282px;
  height: 282px;
  border-radius: 300px;
  margin-top: 30px;
}

.history {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.sign {
  font-family: GreatVibes-Regular;
  font-size: 18px;
}

.big-and-section {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fborder-image.png?alt=media&token=4892856f-a49e-4dc9-9bfd-f31b71e30dfd);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 320px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
