<div class="mt-3 wow animate__animated animate__slow animate__backInUp">
  <div class="title-flower">
    <div class="title-flower-text">
      Nuestra Historia
    </div>
  </div>

  <div class="history">
    El amor verdadero enfrenta las adversidades, persiste y todo perdona, el estar
    juntos 15 años nos ha hecho crecer como personas pero lo más importante el crecer
    como pareja. Una unión que prevalecerá para toda la vida.
  </div>

  <div>
    <h3 class="accent-text text-center mt-5">
      Para ti mi amado esposo
    </h3>

    <div class="text-center history">
      A tu lado todo es más seguro porque encuentro paz, le pido al cielo
      que te proteja, que siempre estemos igual, que me ames igual. Yo quiero
      estar contigo el resto de mi vida, que podamos estar juntos hasta el final,
      poderme despertar con tu sonrisa es mi alegría día tras día.
      <br>
      <br>
      Con todo mi amor.
      <br>
      <br>

      <div class="sign accent-text">
        Lizbeth
      </div>
    </div>
  </div>

  <div class="big-and-section wow animate__animated animate__jackInTheBox">
    <img src="assets/img/circle.png">
  </div>

  <div>
    <h3 class="accent-text text-center mt-5">
      Para ti mi amada esposa
    </h3>

    <div class="text-center history">
      Gracias por iluminar mi vida, por creer en mis palabras
      y sentimientos, por amarme así y lograr que me enamore
      tanto de ti, te amo.
      <br>
      <br>
      Con todo mi amor.
      <br>
      <br>

      <div class="sign accent-text">
        Francisco
      </div>
    </div>
  </div>
</div>
