.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.number-size {
  font-size: 42px !important;
}

.timer-container {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Ftimer-flowers.png?alt=media&token=e798e5e4-d071-4ce0-bbad-9cc29b745d15);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.background-white {
  background: white !important;
  padding-top: 25px;
}
