<div class="mt-5 background-white wow animate__animated animate__slow animate__fadeIn">
  <div class="title-flower mb-5">
    <div class="title-flower-text">
      Uniremos nuestros caminos para siempre en:
    </div>
  </div>

  <div class="row timer-container">
    <div class="col-4 mt-4 text-center">
      <div class="primary-text number-size">
        {{ month }}
      </div>

      <div class="accent-text cursive mt-2">
        Meses
      </div>
    </div>

    <div class="col-4 mt-4 text-center">
      <div class="primary-text number-size">
        {{ week }}
      </div>

      <div class="accent-text cursive mt-2">
        Semanas
      </div>
    </div>

    <div class="col-4 mt-4 text-center">
      <div class="primary-text number-size">
        {{ days }}
      </div>

      <div class="accent-text cursive mt-2">
        Días
      </div>
    </div>
  </div>
</div>
