@import '~@angular/material/theming';
@include mat-core();

$primary-color: (
  500: #6D2741,
  contrast: (
    500: white
  )
);

$accent-color: (
  500: #D0B072,
  contrast: (
    500: black
  )
);

$palette-primary: mat-palette($primary-color, 500);
$palette-accent: mat-palette($accent-color, 500);
$theme: mat-light-theme($palette-primary, $palette-accent);

@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; background: rgba(213, 181, 156, 0.11) !important; }
*{ font-family: JosefinSans-Regular; }

.primary-color {
  color: white !important;
  background: #6D2741 !important;
}

.primary-color>.mat-icon {
  color: white !important;
}

.accent-color {
  color: black !important;
  background: #D0B072 !important;
}

.accent-color>.mat-icon {
  color: black !important;
}

.primary-text {
  color: #6D2741 !important;
}

.accent-text {
  color: #D0B072 !important;
}

.micro-fab {
  width: 24px !important;
  height: 24px !important;
  background: white !important;
}

.micro-fab>span>em {
  position: absolute;
  transform: translateY(-14px) translateX(-6.5px) !important;
}

table {
  width: 100%;
}

canvas {
  display: contents;
}
