<div class="mt-5">
  <div class="title-flower-2">
    <div class="title-flower-text">
      Código de vestimenta Formal
    </div>
  </div>

  <div class="text-center mt-5">
    <div class="title">
      Mujeres
    </div>

    <div class="pt-4 ps-5 pe-5">
      Formal, colores no permitidos: tinto, blanco, beige e ivory. Recomendaciones de estilos a continuación.
    </div>
  </div>

  <carousel [height]="300" class="mt-4">
    <div *ngFor="let women of carouselAdvices.women" class="carousel-cell">
      <img [src]="women">
    </div>
  </carousel>

  <div class="text-center mt-5">
    <div class="title">
      Hombres
    </div>

    <div class="pt-4 ps-5 pe-5">
      Formal, colores no permitidos: tinto. Recomendaciones de estilos a continuación.
    </div>
  </div>

  <carousel [height]="300" class="mt-4">
    <div *ngFor="let men of carouselAdvices.men" class="carousel-cell">
      <img [src]="men">
    </div>
  </carousel>
</div>
