<div *ngIf="load" class="pt-4">
  <mat-spinner strokeWidth="5"></mat-spinner>
</div>

<div *ngIf="!load && invitation">
  <app-title></app-title>
  <app-guest-message [familyName]="invitation.familyName"></app-guest-message>
  <app-dedication></app-dedication>
  <app-godparents></app-godparents>
  <app-biblical-quote></app-biblical-quote>
  <app-timer></app-timer>
  <app-moment></app-moment>
  <app-location></app-location>
  <app-advice></app-advice>
  <app-gift></app-gift>
  <app-sanitary-measures></app-sanitary-measures>
  <app-form-guest [invitation]="invitation"></app-form-guest>
  <app-faq></app-faq>
</div>

<div *ngIf="!load && !invitation" class="pt-4 ps-4 pe-4">
  <mat-card>
    <h2 class="accent-text">Upps no se encontró la invitación</h2>

    <p class="primary-text">
      Creo que has perdido tu invitación, contacta con Ale o Fer
    </p>
  </mat-card>
</div>
