<div class="primary-decorator mt-4"></div>

<div class="mt-3">
  <div class="title-flower-2">
    <div class="title-flower-text">
      ¿Que nos puedes regalar?
    </div>
  </div>

  <div class="sub-title mt-4 cursive primary-text">
    ¡Lluvia de sobres!
  </div>

  <div>
    <img src="https://m.media-amazon.com/images/I/41XK8asA73L._AC_SX355_.jpg">

    <div class="text-center wow animate__animated animate__slow animate__backInUp pe-5 ps-5">
      <em>La lluvia de sobres, es la tradición de regalar dinero en efectivo a los novios en un sobre el día del evento</em>
    </div>
  </div>
</div>

<div class="primary-decorator mt-4"></div>
