@media (max-width: 699px) {
  .cursive {
    font-size: 20px !important;
  }

  .church-location-text {
    margin-top: 120px !important;
    font-size: 12px !important;
  }

  .party-location-text {
    margin-top: 120px !important;
    font-size: 12px !important;
  }
}

.church-location-container {
  border-width: 3px;
  border-style: solid;
  border-color: #6D2741;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  height: 400px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fflower-corner-left-2.png?alt=media&token=08877afa-8955-474b-86a2-b79cfdc98f25);
  background-repeat: no-repeat;
  background-size: contain;
}

.church-location-text {
  margin-top: 110px;
  font-size: 18px;
  text-align: center;
  margin-left: 140px;
  margin-right: 20px;
}

.party-location-container {
  border-width: 3px;
  border-style: solid;
  border-color: #D0B072;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  height: 400px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fflower-corner-rigth-2.png?alt=media&token=f8c4ee3b-ffbf-483e-9fd5-09cb8f06529a);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.party-location-text {
  margin-top: 110px;
  font-size: 18px;
  text-align: center;
  margin-right: 140px;
  margin-left: 20px;
}

.cursive {
  font-size: 26px;
}

.location-map {
  width: 100%;
  margin-top: 30px;
  height: 300px !important;
  z-index: 10;
}
