.faq-container {
  background: white !important;
  width: 100% !important;
}

.rings {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2F96F1F61C-1E18-4F79-ACFB-386D70157CBD.png?alt=media&token=0d85e77c-3feb-4f8c-ae2f-ff28b5ce4154);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  width: 100%;
  height: 200px;
}

.faq-section {
  background: #D0B072;
  width: 100%;
  padding: 22px;
  color: white;
}

.heart-color {
  color: crimson;
}
