<div class="mt-5">
  <div class="title-flower-2">
    <div class="title-flower-text">
      Nuestros momentos juntos
    </div>
  </div>

  <div class="text-center moment-title">
    Cuando te enamoras no vuelves a ser
    la misma persona que eras antes, porque
    es en ese momento donde empiezas a vivir
    la vida de verdad
  </div>

  <carousel [height]="300" class="mt-4">
    <div *ngFor="let carouserMoment of carouselMoments" class="carousel-cell">
      <img [src]="carouserMoment">
    </div>
  </carousel>

  <iframe src="https://www.youtube.com/embed/W9APG35wQd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
