<div class="mt-5">
  <div class="title-flower-2">
    <div class="title-flower-text">
      ¿Cuándo & Dónde?
    </div>
  </div>

  <div class="text-center pe-5 ps-5 pt-5">
    Nos encantará contar con tu compañía el día más bello de nuestras vidas
  </div>

  <div class="church-location-container">
    <div class="church-location-text accent-text">
      <span class="primary-text cursive">Ceremonia Religiosa</span> <br><br>
      Sábado 07 de Mayo 2022<br><br>
      06:00 PM <br><br>
      Parroquia de San José<br><br>
      Ignacio Zaragoza s/n, La Poza, Acapulco de Juárez, Gro.<br><br>
    </div>
  </div>

  <div
    googleMap
    class="location-map"
    markerIcon="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fsvg%2Fmap-marker.svg?alt=media&token=6e0c2981-e4a3-4b53-9aca-10a2e5ddc2ca"
    [lat]="16.788674072972533"
    [lng]="-99.79048759969147"
    [zoom]="17"
    [viewMode]="true"
    [fullscreenControl]="true"
    [disableDefaultUI]="true"
  >
  </div>

  <div class="text-center mt-3">
    <button mat-stroked-button color="accent" (click)="openLink(0)">
      <em class="mdi mdi-road"></em>
      Abrir ubicación
    </button>
  </div>

  <div class="party-location-container">
    <div class="party-location-text primary-text">
      <span class="accent-text cursive">Recepción</span> <br><br>
      Sábado 07 de Mayo 2022<br><br>
      7:30 PM <br><br>
      Jardín de eventos La Piedra<br><br>
      Carretera Puerto Marquez S/N, Piedra Roja, Ejido De Cayaco, 39810 Acapulco de Juárez, Gro.<br><br>
    </div>
  </div>

  <div
    googleMap
    class="location-map"
    markerIcon="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fsvg%2Fmap-marker.svg?alt=media&token=6e0c2981-e4a3-4b53-9aca-10a2e5ddc2ca"
    [lat]="16.84438607336"
    [lng]="-99.81194711415921"
    [zoom]="17"
    [viewMode]="true"
    [fullscreenControl]="true"
    [disableDefaultUI]="true"
  >
  </div>

  <div class="text-center mt-3">
    <button mat-stroked-button color="accent" (click)="openLink(1)">
      <em class="mdi mdi-road"></em>
      Abrir ubicación
    </button>
  </div>
</div>
