@media (max-width: 699px) {
  .biblical-quote-text {
    margin-top: 50px !important;
    font-size: 12px !important;
  }

  .quotes {
    font-size: 12px !important;
  }
}

.biblical-quote-container {
  margin-top: 30px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #D0B072;
  height: 200px;
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  background: white;
}

.biblical-quote-text {
  margin-top: 58px;
  margin-left: 50px;
  margin-right: 50px;
  text-transform: uppercase;
}

.quote {
  margin-top: 5px;
  text-align: right;
  color: #D0B072;
}

.biblical-quote-flower-left {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcorner-flower-left.png?alt=media&token=5c2d3b9c-d8a5-439d-bdee-17fd8d5ddd69);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.biblical-quote-flower-right {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcorner-flower-right.png?alt=media&token=4163ba4a-f072-4f22-acb4-1b4f5992b8db);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}
