<div class="image-container">
  <div class="shadow-container"></div>

  <div class="text-container animate__animated animate__slow animate__fadeIn">
    Vamos a casarnos

    <div class="title-us-container">
      Isne & Fredy
    </div>

    <div class="us-history-container">
      <div class="text-center">
        <div class="virtual-hr mb-3"></div>
        Un amor un corazon un destino
        <div class="virtual-hr mt-3"></div>
      </div>
    </div>

    <div class="location-container">
      Abril 09, 2022<br>
      Tláhuac, San Juan Ixtayopan, CDMX
    </div>
  </div>
</div>
