<div class="image-container">
  <div class="shadow-container"></div>

  <div class="text-container animate__animated animate__slow animate__fadeIn">
    Vamos a casarnos

    <div class="title-us-container">
      Alejandra & Fernando
    </div>

    <div class="us-history-container">
      <svg height="2" width="45">
        <line
          x1="0"
          y1="0"
          x2="38"
          y2="0"
          style="
            stroke: #D0B072;
            stroke-width:2;
          "
        />
      </svg>

      Con la bendición de Dios

      <svg height="2" width="38">
        <line
          x1="2"
          y1="0"
          x2="40"
          y2="0"
          style="
            stroke: #D0B072;
            stroke-width:2;
          "
        />
      </svg>
    </div>

    <div class="location-container">
      Noviembre 05, 2021<br>
      Guadalajara, Jalisco, México
    </div>
  </div>
</div>
