<div class="faq-container mt-5 pt-4">
  <div class="title-cursive">
    ¡Te esperamos, no faltes!
  </div>

  <div class="rings"></div>

  <div class="faq-section">
    <div class="text-center mb-3">
      <img src="assets/img/7bd00dee-d089-4312-abfa-4dd904a2f7ff.jpg">
    </div>

    <div class="text-center">
      <strong>Desarrollado por:</strong> Festus Invitaciones Digitales
    </div>

    <div class="text-center">
      <strong>Telefono:</strong> (33) 41 02 30 98
    </div>

    <div class="mt-3 text-center">
      Con amor todo se puede construir <em class="mdi mdi-heart heart-color"></em>
    </div>
  </div>
</div>
