<div class="mt-5">
  <div class="title-flower-2">
    <div class="title-flower-text">
      ¿Cuándo & Dónde?
    </div>
  </div>

  <div class="text-center pe-5 ps-5 pt-5">
    Nos encantará contar con tu compañía el día más bello de nuestras vidas
  </div>

  <div class="church-location-container">
    <div class="church-location-text accent-text">
      <span class="primary-text cursive">Ceremonia Religiosa</span> <br><br>
      Viernes 05 de noviembre del 2021 <br><br>
      06:00 PM - 07:00 PM <br><br>
      Parroquia de Belén de Jesús<br><br>
      Plazuela Isla Milos 3220, Jardines de La Cruz, 44987 Guadalajara, Jal.<br><br>
    </div>
  </div>

  <div
    googleMap
    class="location-map"
    mapId="2949a68c47faccf8"
    markerIcon="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fsvg%2Fmap-marker.svg?alt=media&token=6e0c2981-e4a3-4b53-9aca-10a2e5ddc2ca"
    [lat]="20.6362196"
    [lng]="-103.38412860671222"
    [zoom]="17"
    [viewMode]="true"
    [fullscreenControl]="true"
    [disableDefaultUI]="true"
  >
  </div>

  <div class="party-location-container">
    <div class="party-location-text primary-text">
      <span class="accent-text cursive">Recepción</span> <br><br>
      Viernes 05 de noviembre del 2021 <br><br>
      08:00 PM - 02:00 AM <br><br>
      La Opa Eventos<br><br>
      Av. Camino Real a Colima 117, Los Gavilanes, 45645 Los Gavilanes, Jal.<br><br>
    </div>
  </div>

  <div
    googleMap
    class="location-map"
    markerIcon="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fsvg%2Fmap-marker.svg?alt=media&token=6e0c2981-e4a3-4b53-9aca-10a2e5ddc2ca"
    mapId="2949a68c47faccf8"
    [lat]="20.56824422999425"
    [lng]="-103.44150960445404"
    [zoom]="17"
    [viewMode]="true"
    [fullscreenControl]="true"
    [disableDefaultUI]="true"
  >
  </div>
</div>
