<div class="mt-5">
  <div class="title-flower-2">
    <div class="title-flower-text">
      ¿Cuándo & Dónde?
    </div>
  </div>

  <div class="text-center pe-5 ps-5 pt-5">
    Nos encantará contar con tu compañía el día más bello de nuestras vidas
  </div>

  <div class="church-location-container">
    <div class="church-location-text accent-text">
      <span class="primary-text cursive">Recepción & Ceremonia</span> <br><br>
      Sábado 09 de abril del 2022 <br><br>
      05:00 PM (Recepción) <br>
      05:30 PM (Ceremonia) <br><br>
      Educación Primaria 58, Jaime Torres Bodet, Tláhuac, 13530 San Juan Ixtayopan, CDMX<br><br>
    </div>
  </div>

  <div
    googleMap
    class="location-map"
    markerIcon="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fsvg%2Fmap-marker.svg?alt=media&token=6e0c2981-e4a3-4b53-9aca-10a2e5ddc2ca"
    [lat]="19.23457093599183"
    [lng]="-98.99688091789072"
    [zoom]="17"
    [viewMode]="true"
    [fullscreenControl]="true"
    [disableDefaultUI]="true"
  >
  </div>

  <div class="text-center mt-3">
    <button mat-stroked-button color="accent" (click)="openLink()">
      Abrir ubicación
    </button>
  </div>
</div>
