<div class="mt-3 wow animate__animated animate__slow animate__fadeIn">
  <div class="primary-decorator"></div>

  <div>
    <button mat-mini-fab color="primary" (click)="onGoToEnd()">
      <mat-icon>
        expand_more
      </mat-icon>
    </button>
  </div>

  <div class="title-flower">
    <div class="title-flower-text">
      Nos casamos con la bendición de nuestros padrinos
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes velarán por nuestro matrimonio?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcouple.png?alt=media&token=2c1b24fb-d561-4f6f-8833-0f81604a8f2e">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Sr. Juan Carlos Vázquez Piedra <br><span class="accent-text">&</span><br>
      La Sra. Suzeth  Alicia Cruz Colon
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes nos darán el símbolo de nuestro amor?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fring.png?alt=media&token=3cee9a16-708b-4df0-a2ac-6abd113ce4c9">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Sr. Alejandro Vázquez Vázquez<br><span class="accent-text">&</span><br>
      La Sra. Gloria del Carmen Quevedo
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quién nos dará el símbolo de nuestro sustento?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcurrency.png?alt=media&token=526d0bd0-9671-41d6-8bbc-03815daa289b">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Dr. Enrique García Martínez<br><span class="accent-text">&</span><br>
      La Dra. Ma. del Socorro Reyes Atrisco
    </div>
  </div>


  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes enlazarán nuestras vidas?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fstring.png?alt=media&token=8d9bd4e7-43c6-4199-b476-d778b362096b">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Sr. Ángel Hurtado Bautista
      <br><span class="accent-text">&</span><br>
      La Sra. Damaris Rodales Delgadillo
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes nos darán el símbolo de nuestra fe?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fbible.png?alt=media&token=5d0e249b-8fe3-4ae4-8af8-1b0cc5fe3a76">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Sr. Pierre Castillo García
      <br><span class="accent-text">&</span><br>
      La Sra. Yuliana Mora Carmona
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes serán nuestro apoyo en la ceremonia?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fpillow.png?alt=media&token=8bdcd6ff-6525-4580-8d56-75af5d9dac7e">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Sr. Amado Miguel Najera Bautista <br><span class="accent-text">&</span><br>
      La Sra. Blanca Dalia Osorio Quevedo.
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes guiarán el primer Brindis de Nuestro Matrimonio?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fpngarea.com_clipart-wedding-champagne-5016484.png?alt=media&token=a2eff93f-5334-4239-8384-40f944d27db8">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Dr. Roberto Alfredo Ruiz Ruiz <br><span class="accent-text">&</span><br>
      La Sra. Gloria Bibiano Betancourt
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    Gracias a ustedes y a su amor, hemos llegado hasta aquí
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <div class="wife-background"></div>

      <div class="wife-text wow animate__animated animate__slow animate__backInUp">
        Sr. Amado Miguel Nájera Ibarra
        <br><span class="accent-text">&</span><br>
        La Sra. Rosalinda Bautista Orozco
      </div>
    </div>

    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fheart.png?alt=media&token=e99dcacb-891f-4e16-b8e0-57db51ab7a7e">
    </div>

    <div class="text-center mt-5 mb-3">
      <div class="wife-text wow animate__animated animate__slow animate__backInUp">
        Sr. Javier Mejía García
        <br><span class="accent-text">&</span><br>
        La Sra. Elia Vázquez Jiménez
      </div>

      <div class="husband-background"></div>
    </div>
  </div>

  <div #godParentsEnd class="primary-decorator-invert"></div>
</div>
