<div class="mt-3 wow animate__animated animate__slow animate__fadeIn">
  <div class="primary-decorator"></div>

  <div>
    <button mat-mini-fab color="primary" (click)="onGoToEnd()">
      <mat-icon>
        expand_more
      </mat-icon>
    </button>
  </div>

  <div class="title-flower">
    <div class="title-flower-text">
      Nos casamos con la bendición de nuestros padrinos
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes velarán por nuestro matrimonio?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcouple.png?alt=media&token=2c1b24fb-d561-4f6f-8833-0f81604a8f2e">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Juan Aguirre Covarrubias <br><span class="accent-text">&</span><br>
      Marisela Montejano Valenzuela
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes nos darán el símbolo de nuestro amor?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fring.png?alt=media&token=3cee9a16-708b-4df0-a2ac-6abd113ce4c9">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Karla Fragoso Chávez<br><span class="accent-text">&</span><br>
      Gustavo Zuno Lozano
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quién nos dará el símbolo de nuestro sustento?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcurrency.png?alt=media&token=526d0bd0-9671-41d6-8bbc-03815daa289b">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Fátima Lourdes Aguirre Montejano
    </div>
  </div>


  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes enlazarán nuestras vidas?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fstring.png?alt=media&token=8d9bd4e7-43c6-4199-b476-d778b362096b">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Felicitas López
      <br><span class="accent-text">&</span><br>
      J Jesús Lozano González
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes nos darán el símbolo de nuestra fe?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fbible.png?alt=media&token=5d0e249b-8fe3-4ae4-8af8-1b0cc5fe3a76">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Agustina García Munguía
      <br><span class="accent-text">&</span><br>
      Gustavo Narváez Vizcarra
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes guiarán el primer Brindis de Nuestro Matrimonio?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fpngarea.com_clipart-wedding-champagne-5016484.png?alt=media&token=a2eff93f-5334-4239-8384-40f944d27db8">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Gloria Silva Bernal <br>
      Julio Carbajal López
    </div>

    <div class="text-center accent-text mt-5 mb-5">
      &
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      José Miguel de Alba Martínez <br>
      Maria Yolanda Montejano Valenzuela
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes serán nuestro apoyo en la ceremonia?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fpillow.png?alt=media&token=8bdcd6ff-6525-4580-8d56-75af5d9dac7e">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Sofia Montserrat García Aguirre
    </div>

    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fflower.png?alt=media&token=150edb59-c81d-4300-8d1e-fa3f69d18c65">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Refugio Elizabeth Lozano Silva
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes serán nuestros acompañantes?
  </div>

  <div class="godparent mt-4">
    <div class="row">
      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Elizabeth Lozano
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        David García
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        July Lagos
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        David Lozano
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Sofía García
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Juan Carlos Aguirre
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Ruth Mariscales
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Carlos Castellanos
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Ana Piña
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Francisco García
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Fátima Aguirre
      </div>

      <div class="col-6 wow animate__animated animate__slow animate__backInUp">
        Pablo García
      </div>
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    Gracias a ustedes y a su amor, hemos llegado hasta aquí
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <div class="wife-background"></div>

      <div class="wife-text wow animate__animated animate__slow animate__backInUp">
        Maria Ofelia Silva Bernal
        <br><span class="accent-text">&</span><br>
        David Lozano González
      </div>
    </div>

    <div class="text-center mt-5 mb-5">
      <img width="100" src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fheart.png?alt=media&token=e99dcacb-891f-4e16-b8e0-57db51ab7a7e">
    </div>

    <div class="text-center mt-5 mb-3">
      <div class="wife-text wow animate__animated animate__slow animate__backInUp">
        Marisela Aguirre Montejano
        <br><span class="accent-text">&</span><br>
        Fernando García Godina
      </div>

      <div class="husband-background"></div>
    </div>
  </div>

  <div #godParentsEnd class="primary-decorator"></div>
</div>
